{% extends 'base.html' %}

{% block title %}
    <title>Login</title>
{% endblock %}


{% block content %}
<h1>login Form</h1>
<div class="container">
    <form method="post">
        {% csrf_token %}
        username:<input type="text" name="nm" class="form-control ">
        password: <input type="text" name="pwd" class="form-control">
        <br><br>
        <input type="submit" class="btn btn-success col-4">
        <input type="reset" class="btn btn-danger col-4">

    </form>



</div>




{% endblock %}